doctype html
html
  head
    title Beagleknight - Home
    link(rel="stylesheet" href="/css/index.css")
    meta(charset="UTF-8")
  body
    .wrapper
      .logo
        .vertical
          img(src="/images/mario_block.png")
      .profile
        .vertical
          .avatar
            img(src="/images/profile_david.jpg")
            h1 David Morcillo Muñoz
          .social
            ul.soc
              li
                a.soc-twitter(href="https://www.twitter.com/beagleknight" target="_blank")
              li
                a.soc-github(href="https://github.com/beagleknight" target="_blank")
              li
                a.soc-linkedin.soc-icon-last(href="https://www.linkedin.com/pub/david-morcillo/25/913/b96" target="_blank")
