doctype html
html
  head
    title Beagleknight - Home
    link(rel="stylesheet" href="/css/index.css")
  body
    h1 This is a title
    h2 This is a sub title
    p Això és un text de prova hue hue hue
