extends layout

block content
  h1 Super Dungeon Explore: Forgotten King
  
  h2 Preparación de juego
  ol
    li Escoger tamaño de juego: Héroes (mín 3) = Celdas de Dungeon = Cofres = Puntos de spawn. Mini bosses (min = 2, max = heroes-1) y 1 Boss.
    li Escoger los héroes
    li Escoger los monstruos: se selecciona 1 dungeon boss (carta de juego, carta de lucha de boss, 6 cartas de tesoro únicas y 12 cartas de exploración). Se seleccionan los mini bosses. Se seleccionan los puntos de spawn junto a sus monstruos.
    li Construir mazmorra: el consul escoge la primera celda y se van turnando con los heroes.
    li Construir mazo de tesoro: El consul escoge tres tesoros de mini y seis tesoros booty. A continuación los heroes escogen tres tesoros de mini y seis maravillas. Finalmente se añaden al mazo básico de 24 cartas para formar un mazo de 42 cartas.
    li Construir mazo de loot: se mezclan las 48 cartas básicas y otras extra si se dispone de ellas.
    li Construir mazo de exploración: se añaden las 12 cartas de exploración de boss junto a las 24 básicas para formar un mazo de 36 cartas.
    li Spawn inicial: El consul pone un punto de spawn y un tesoro en cada celda. A continuación añade cada monstruo de 8-bits del punto de spawn hasta dos casillas adyacentes a éste.
    li Los héroes entran en la dugeon: se coloca el marcador de start hasta 4 casillas de un pasillo no conectado. Luego se colocan los héroes adyacentes al marcador.
    li Se reparte 1 token de poción a cada héroe, se mezclan los mazos y empieza la partida!

  h2 Dados
  ul
    li Una tirada de ataque gana si tiene más estrellas que la tirada del defensorr.
    li Una tirada de defensa gana si tiene más estrellas o iguala la tirada del atacante.
    li Si aparece un corazón en una tirada de ataque puedes eliminar un contador de corazón o de estado de cualquier héroe. El consul solo los puede usar para quitar contadores de estado.
    li Si aparece una poción en una tirada de ataque puedes poner un contador de poción en un héroe. El consul ignora este resultado.

  h2 Jugando al juego
  h3 Turno del héroe
  ul
    li Activar mini, resolver power-up y le toca al consul.
    li Se deben activar todos los héroes antes de activar el mismo otra vez.
    li Cada vez que un héroe entra en una celda sin explorar se detiene el movimiento y roba una carta de exploración. Se aplican los efectos inmediatamente. No se roba en la celda inicial.
    li Mochila: los héroes guardan los objetos que pueda usar toda la party.
    li Monedas princesa: cuando se destruye un punto de spawn aparece 1 moneda en su lugar. Los héroes pueden recogerla usando la acción de saquear.
    li Llaves de mazmorra: cuando se destruye un Mini Boss se aparece 1 llave en su lugar. Los héroes pueden recogerla usando la acción de saquear. Las llaves sirven para abrir tesoros.
    li Maravillas: se colocan en la mochila y se pueden usar en la fase de power-up.
    li Equipo: se colocan en la mochila y se pueden usar en la fase de power-up.
  h3 Turno del consul
  ul
    li Debe escoger entre activar monstruos o invocar monstruos. A continuación realiza la fase de power-up y le vuelve a tocar a los héroes.
    li Activar monstruos: puede activar uno o varios monstruos por valor de 4 calaveras. Además puede activar un monstruo de nivel Super gratuitamente que no haya sido activado en ese mismo turno.
    li Invocar monstruos: escoge un punto de spawn e invoca a todos los monstruos que esten disponibles hasta dos casillas adyacentes al punto. Añade un contador de herida al punto de invocación (uno a cada punto si era un paired spawn point). No se puede invocar monstruos si ya lo hizo en el turno anterior.
  h3 Power-up
  ol
    li Equipo: los héroes roban 1 carta del mazo de loot por cada monstruo élite o minion destruido durante su turno. Máximo 3 cartas. Los héroes roban 1 carta del mazo de tesoro por cada Mini Boss o Boo Booty destruido. No robaran cartas del mazo de loot de monstruos destruidos durante el turno del consul ni de monstruos insignificantes. Cualquier héroe puede ser equipado durante el power-up. El equipo que no se haya equipado durante esta fase es descartado. Por cada carta de tesoro descartada un héroe se puede curar un corazón o efecto de estado aunque ya estuviera equipada antes. Cuando un héroe se cambia el equipo de un slot éste se descarta y no puede ser equipado por otros héroes.
    li Maravillas: cada maravilla tiene sus propias reglas de funcionamiento.
    li Mighty monsters: si un mini boss ha sido destruido se avanza en la tabla de mighty monsters. Solo los monstruos élite y minions ganan estos beneficios: 1 - defensa + 1, 2 - ataque + 1, 3 - defensa + 1, 4 - ataque + 1, 5 - todos los monstruos inflingen un efecto de estado elegido por el consul al atacar
    li Boss spawn: El consul puede colocar un mini-boss por cada punto de spawn que fué destruido durante el turno. Coloca el mini-boss en cualquier lugar de la celda dónde fue destruido el punto. Si no hay mini-bosses disponibles se avanza el mighty-monster chart. Si el punto de spawn destruido fué el último de la mazmorra aparece el Boss en lugar del mini-boss.

  h2 Activación
  ul
    li Mantenimiento: una mini realiza el mantenimiento al inicio de su activación siguiendo éste orden: finaliza efectos de su activación anterior (pociones, auras, ...), gasta monedas princesa, aplica efectos de curación, aplica efectos de estado y aplica otros efectos en el orden escogido por el jugador.
    li Movimiento: cada casilla adyacente gasta 1 punto. Se puede mover en diagonal y a través de miniaturas aliadas. No se puede finalizar el movimiento en la misma casilla que otra miniatura.
    li 
      span Puntos de acción: acciones rojas ofensivas inflingen una herida si se realizan con éxito, acciones azules de apoyo no inflingen heridas. Además de estas acciones especiales, todas las minis pueden realizar una série de acciones básicas. Todas las acciones siguen las siguientes reglas:
      ul
        li Línea de visión: se traza una línea recta y si no colisiona con paredes o estructuras, incluyendo esquinas, hay linea de vision. Las minis no bloquean linea de vision.
        li Augment (bandera azul con flecha) afecta a aliados y Dangerous (calavera) afecta tanto a aliados como enemigos.
        li Todas las acciones tienen un alcance máximo. Si el objetivo está a igual o menos distancia entonces se puede hacer la acción.
        li Iconos de rango: Apoyo (flecha azul) se usa en habilidades de apoyo, Cuerpo a cuerpo (espada) se usa STR en ataque, Magia (varita) se usa WILL en ataque, Distancia (flecha) se usa DEX en ataque.
        li El objetivo de la habilidad hace una tirada de defensa usando el atributo con el símbolo de defensa (escudo).
    li
      span Acciones básicas:
      ul
        li (1) Ataque magico, cuerpo a cuerpo y a distancia.
        li (1) Primeros auxilios (augment, apoyo 1): se realiza tirada usando WILL. Si estrellas > heridas, elimina una herida del objetivo.
        li (1) Invocar pet (apoyo 6)
        li (1) Desactivar trampa (apoyo 2): se realiza una tirada usando DEX. Si estrellas > defensa trampa, la trampa es destruida.
        li (2) Explorar: Roba una carta de exploración y aplica sus efectos. Sólo se puede realizar esta acción 1 vez por celda de dungeon.
        li (1) Pick lock (apoyo 1): se realiza tirada usando DEX. Si estrellas >= 3 roba dos cartas de tesoro. Elinina el cofre de la dungeon. Si estrellas < 3 aparece un Boo Booty a elección del consul.
        li (X) Correr: antes de realizar cualquier acción se pueden gastar todos los puntos para correr, doblando el movimiento de la miniatura.
        li (0) Saquear (apoyo 1): recoge un objeto del suelo como una calavera, moenda princesa o llave de dungeon.
        li (1) Romper cofre (apoyo 1): elimina el tesoro de la dungeon y roba una carta de tesoro.
        li (1) Abrir cofre (apoyo 1): Require llave de dungeon. Roba dos cartas de tesoro y elimina el cofre.
        li (1) Vigor (augment): realiza una tirada usando ARM. Si estrellas > tokens de efecto de estado, elimina un contador de estado.
    li
      span Pociones:
      ul
        li Una mini puede llevar tantas pociones como indique su carta
        li Cada poción requiere un número de tokens para gastar
        li Una mini puede beber cualquier poción durante su activación
        li Una mini puede beber una poción de emergencia durante el turno del consul
        li No se puede beber una poción para interrumpir una tirada o afectar a una tirada ya hecha a menos que la poción lo indique.
        li Hay tres tipos de poción: apoyo, ofensiva y emergencia.
        li Un héroe puede beber la poción de otro héroe aunque esté en otro lugar de la dungeon.

  h2 Lucha del boss
  ul
    li Cuando aparece el boss se resuelve los efectos de Boss spawn de su carta
    li Cuando el boss tenga un número de heridas igual o mayor que la mitad de sus corazones, es hora del timeout: elimina todos los contadores de estado del boss, cura el boss hasta su mitad de heridas (si es que tenia más de la mitad), resuelve los efectos que ponga en la carta, invoca hasta 6 calaveras de montstruos de 8-bit y 16-bit y colocalos hasta dos casillas adyacentes al boss y finalmente mueve el boss hasta 10 casillas adyacentes a su posición. El timeout solo se dispara una sola vez.
    li Si el boss es destruido ganan los héroes y si los héroes son destruidos gana el boss.
    
  h2 Reglas avanzadas
  ul
    li Si una miniatura recibe tantas heridas como corazones ésta resulta destruida. Si la mini es un monstruo, elimina todos los contadores de su carta y vuelve a la reserva de invocación. Si la mini es un heroe, quita la mini del tablero y pon un skull token en su lugar. Otro héroe puede saquear la calavera para recuperar el equipo del héroe caído y ponerlo en la mochila. Las monedas princesa permiten eliminar todos los contadores de herida y efecto de estado de un héroe vivo o resucitar un héroe caído. El héroe aparece en la casilla de start de la dungeon con su equipo si éste no fué saqueado.
    li
      span habilidades
      ul
        li Backlash: el atacante recibe una herida si el defensor gana la tirada.
        li Blessing: efecto positivo a heroes, elite y minion que esten en esa casilla.
        li Burrow: puede mover a través de paredes y trata el terreno dificil y estructuras como espacios abiertos. Los efectos negativos de casilla se ignorarn.
        li Cursed: el equipo no se puede quitar ni descartar hasta que la mini sea destruida.
        li Fly: trata el terreno dificil, chasm y estructuras como espacios abiertos. Las estructuras no bloquen su línea de vision de él o hasta él.
        li Heal X: puede eliminar tantas heridas o efectos de estado como el valor de X
        li Hookshot: no requiere línea de visión
        li Immune status effects (admiración con cruz roja): no le afecta ningun efecto de estado. Si tiene un contador de efecto y gana immunidad, retira el contador.
        li Immune x (cruz roja): Immune a un efecto de estado concreto. Si tiene un contador de ese efecto y gana immunidad, retira el contador.
        li Insignificant: si se encuentra en la misma celda que un héroe, puede ser activado gratuitamente.
        li One use only: sólo se puede usar una vez por partida.
        li Pet X: es el pet master de ese X y no puede ser master de otro pet. El pet empieza a 2 casillas del master.
        li Shapeshift X: es un cambiaformas de X
        li Small: solo puede ser objetivo si estas a 3 casillas de él
        li Efectos de estado
          span La mini sufre ese efecto de estado
          ul
            li Bane (calavera con casco azul): descarta el valor más alto en defensa
            li Fire (fuego): sufre una herida en el mantenimiento de la mini
            li Hex (man con ojo): descarta el valor más alto en ataque
            li Ice: no puede usar acciones únicas
            li Knockdown (flecha y estrella en el suelo): no puede hacer otras acciones hasta que no gaste 1 punto de accion o todo su movimiento en eliminar el contador.
            li Veneno (calavera y gota verde): reduce en 1 el número de puntos de acción (hasta un mínimo de 1).
            li Slow (reloj y flecha azul): 1/2 de puntos de movimiento
        li Stealth: acciones contra esa mini ven su alcance reducido en 3 hasta un mínimo de alcance 1
        li Surefoot: terreno dificil como espacios abiertos. Ignora efectos negativos en esas casillas
        li Tough: Durante el mantenimiento puede eliminar un contador de herida
    li Afinidad: tiene diferentes efectos positivos o negativos en el juego. Por ejemplo, algunas piezas de equipo dan otros efectos en vez de los habitaules.
    li
      span Efectos de celda
      ul
        li Chasm (grieta): no se puede mover a través de ellos pero si trazar línea de visión.
        li Terreno dificil (botas): se necesitan 2 puntos de movimiento para entrar en una casilla
        li Estructura (casa): no se puede mover ni trazar visión
        li Trampas: cada trampa tiene su plantilla. El consul la pone como quiere.
