extends layout

block content
  h1 Starcraft
  h2 Preparación
  ul
    li Elegir el jugador iniciar al azar.
    li Escoger facciones y reunir todos los componentes.
    li Situar el contador de puntos de conquista a 0.
    li Preparar el mazo de evento (III, II y I). Se retiran cartas de etapa I y II: 5j = 5, 4j = 10, 3j = 15, 2j = 20.
    li Preparar la galaxia: cada jugador recibe 2 planetas, el jugador inicial coloca el primero y luego mediante las agujas del reloj. El último jugador coloca su segundo planeta y se hace de nuevo en orden inverso hasta llegar al jugador inicial. Se puede colocar base en el primero o en el segundo planeta. Cada jugador coloca una ruta de navegación de eje Z. Se reparten cartas de recurso. Se coloca el ejército inicial.
    li Separar cartas de combate y tecnología.
    li Cada jugador roba 6 cartas del mazo de combate (los Terran 8).
  h2 La ronda de juego
  h3 Fase de planificación
  ul
    li Cada jugador asigna 4 fichas de Orden a los planetas del tablero, empezando por el jugador inicial.
    li La orden se coloca en un planeta donde haya una unidad o base aliada o en un planete adyacente a ésta.
    li Se colocan las ordenes encima de ordenes ya existentes formando la pila de ordenes.
  h3 Fase de ejecución
  ul
    li Se resuelven ordenes empezando por el jugador inicial y siguiendo las agujas del reloj.
    li Se elige una orden visible y se resuelve.
    li En lugar de resolver la orden se puede robar una carta de evento y se coloca en la zona del jugador sin mirarla.
    li Si un jugador tiene todas sus ordenes bloqueadas (debajo de fichas de enemigos) debe robar una carta de evento.
  h3 Fase de reagrupación
  ul
    li Destruir bases si en la misma zona hay unidades enemigas. Se destruyen transportes si no hay bases en planetas adyacentes.
    li Si se pierde la base se pierden todas las cartas de recurso del mismo. Se pierde la carta de una zona si en ella hay unidad o base enemiga. Los obreros que haya en la carta de recurso son destruidos.
    li Se reciben cartas de recurso en el caso de tener una base en el planeta siguiendo las normas anteriores.
    li Se recuperan los obreros de las cartas de recurso y vuelven a la zona de obreros disponible.
    li Se reciben los puntos de conquista si hay unidades en una zona del planeta que otorgue puntos.
    li Comprobar victoria normal (15 puntos de conquista o más)
    li Comprobar victoria especial
    li Cada jugador puede jugar una carta de evento empezando por el jugador inicial. Los jugadores que hayan robado "El fin está próximo" deben jugarla obligatoriamente y se deja al lado del tablero. Si hay dos cartas o más de éste tipo, la partida termina.
    li Se descartan cartas de combate hasta el límite de la mano de 6 (los Terran 8).
    li Se pasa la ficha de jugador inicial al jugador de la izquierda.
  h2 Ganar la partida
  ul
    li Victoria normal: 15 puntos de conquista. Desempate en recursos, zonas, bases y obreros.
    li Victoria especial: depende de cada raza
    li Victoria por fin de partida: si hay dos cartas de "el fin está proximo". Gana el que tenga más puntos de victoria y se hace el desempate igual que en la victoria normal.
    li Victoria por eliminación: ser el último jugador en pie.
  h2 Recursos
  ul
    li Los obreros explotan los recursos. Cada carta de recurso tiene un límite de obreros.
    li Cada facción tiene recursos permanentes en su hoja de facción y pueden ser explotados de la forma habitual.
    li Sobreexplotación: asignar un obrero más de lo permitido en la carta de recurso. El recurso pasa a estar agotado. Si se sobreexplota un recurso agotado éste desaparece.
  h2 Ordenes
  h3 Orden de construcción
  ul
    li Se puede construir en orden: obreros, transportes y unidades en el caso de disponer de una base, 1 edificio y/o 1 módulo si tiene base o unidad en el planeta y construir base en el caso de disponer de unidades en el planeta.
    li Puede haber un máximo de 1 transporte por facción en una ruta de navegación.
    li El límite a la construcción de unidades es de 2 inicialmente. Se pueden colocar en cualquier zona aliada o desocupada del planeta respetando el límite de unidades por zona planetaria.
    li Las bases se construyen en zonas donde haya al menos una unidad aliada y máximo 1 base por planeta. No se puede construir base en una zona donde haya una base enemiga.
    li Las mejoras de las bases afectan a todas las bases del jugador y cualquier base nueva que incorpore.
  h3 Orden de movilización
  ul
    li Se puede desplazar cualquier número de unidades de una o varias zonas a una zona del planeta activo, ya sea des de el planeta mismo o un planeta adyacente.
    li Si se llevan unidades a una zona enemiga tiene lugar una batalla. El número de unidades que puedes llevar a una zona enemiga es igual al límite de esa zona más 2. Sólo se puede iniciar una batalla por orden de movilización.
    li Solo se pueden mover unidades de un planeta a otro si se dispone de un transporte en la zona de navegación.
  h3 Orden de investigación
  ul
    li Para ejectuar una orden de investigación se debe tener una base en el planeta activo.
    li Se roba una carta de evento y se coloca bajo la hoja de facción sin mirar.
    li Opcionalmente se pueden robar 3 cartas de combate y adquirir 1 tecnología. Si se adquiere tecnología y se añade al mazo de combate éste se debe mezclar. Cuando se compra una tecnología se añaden todas las cópias de esa carta.
  h2 Combate
  ul
    li Primero se coloca la ficha de orden en la zona conflictiva.
    li El atacante usa 1 de sus capacidades de "comienzo de batalla" y luego el defensor usa otra.
    li El atacante roba 3 cartas y el defensor 1.
    li El atacante determina las escaramuzas. Asigna 1 unidad suya a 1 unidad del defensor.
    li El jugador con unidades restantes asigna los apoyos, primero el atacante y luego el defensor.
    li El atacante asigna 1 carta de combate y opcionalmente 1 carta de refuerzo ambas boca abajo a cada escaramuza. Luego el defensor hace lo mismo. Se puede usar una carta del mazo en vez de la mano para el combate, en cuyo caso no se podrá jugar la carta de refuerzo.
    li Se resuelven las escaramuzas: se revelan las cartas, las de refuerzo solo son válidas si coincide la unidad de primera línea (o también el apoyo si la carta cuenta con apoyo especializado) con el símbolo que aparece en la carta. En el caso de que la única carta revelada sea de refuerzo se deberá sustituir por una carta del mazo; se comparan los valores de ataque y defensa, se usa el más alto si la unidad coincide y el más bajo en caso contrario, además deberá usar la capacidad especial de la carta si la unidad coincide y finalmente se suman los apoyos; si el valor de ataque es igual o superior al valor de defensa, la unidad es destruida.
    li Se resuelve el daño extendido
    li Se resuelven las retiradas. Si gana el atacante, deberá retirar el sobrante de tropas. Si gana el defensor, es decir, sobrevive, el atacante deberá retirarse a excepción de que el defensor solo cuente con unidades auxiliares.
  h2 Otras reglas
  ul
    li Las unidades pueden ser terrestres o aéreas. Si la unidad tiene fuerza suficiente pero no puede atacar a la unidad de primera línea, destruirá una unidad de apoyo siempre y cuando sí pueda atacarla. Si la unidad de apoyo no puede atacar a la unidad de primera línea entonces no sumará el valor de apoyo.
    li Ordenes especiales: construcción (límite de construccion aumenta en 1 y recibe descuento de 1 recurso para adquirir un elemento), movimiento (robará 2 cartas adicionales en combate y +1 en todas las escaramuzas) y investigación (roba 1 carta de evento adicional O puede añadir una carta de tecnología directamente a la mano)
    li Si una tecnología requiere destruir alguna unidad ésta deberá existir en el planeta activo.
  h2 Efectos y capacidades
  ul
    li Camuflaje: la unidad no es destruida sino que se repliega al final de la batalla si puede.
    li Detección: anula la capacidad Camuflaje
    li Auxiliar: estas unidades no formaran parte de la primera línea si el bando en cuestion tiene almenos una unidad que no lo sea.
    li Daño extendido: Si una unidad enemiga es destruida todas las cartas con esta habilidad se activan. Por cada carta puedes destruir una unidad del rival. Las cartas terrestres destruyen unidades terrestres, las aéreas unidades aéres y las hibridas pueden escoger siempre y cuando se destruya el máximo de unidades.
    li El módulo de apoyo aéreo: las unidades en la misma zona de la base adquieren Detección, si se produce una batalla aérea consigue +1 al combate y los adversarios no pueden atacar directamente la base desde otro planeta.
  h2 Expansión Brood War
  h3 Preparación
  ul
    li Antes de añadir las nuevas cartas hay que quitar las siguientes: Terran combate 4,5,15,17 y 18 / tecnología Modalidad de asedio y Munición de bloqueo; Zerg combate 6,10,11,12 y 14 / tecnología Aspecto guardián, Ataque aéreo mejorado, Carga metabólica y Enjambre oscuro; Protoss combtate 1,2,9 / tecnología Capacidad de incursor mejorada y convocar arconte.
    li Se substituyen algunos edificios del juego básico: Terran Astropuerto I-III y Barracones II-III; Protoss: Instalación de Robótica I y Portal de acceso II-III.
  h3 Cambios a las reglas
  ul
    li Se pueden usar las ordenes especiales siempre. Entonces se puede ejecutar esa orden si la cantidad de Órdenes en la reserva de ordenes especiales es inferior a la permitida en base a los módulos que controla o bien robar una carta de evento.
    li El número de cartas de evento I y II que se quitan ha cambiado: 6j 3 cartas, 5j 7 cartas, 4j 11 cartas, 3j 15 cartas y 2j 19 cartas.
  h3 Cómo usar esta expansion
  ul
    li Algunas zonas planetarias tienen restricción de tipo de unidad aérea o terrestre. No se pueden construir ni estructuras ni bases en zonas aéreas.
    li En las zonas estratégicas señaladas con un hexágono dorado todas las ordenes se consideran especiales. Además si se usa una orden especial no se devolverá a la reserva de ordenes especiales.
    li Nuevas palabras clave: Control mental (en el paso de destruir unidades dicha unidad será robada y pasa a formar parte de esa facción), Daños colaterales (si la unidad no resulta destruida el jugador puede destruir una base, estructura o todos los breros de la zona conflictiva), Recarga (si se debe descartar una carta ésta vuelve a la mano de su propietario una vez por fase de ejecución), Sacrificio (la unidad resulta destruida automáticamente aunque el rival no tenga fuerza suficiente siempre y cuando dicha unidad puede atacar al rival)
    li Nuevos módulos: Módulo defensivo (tras realizar emparejamientos, el defensor puede intercambiar dos unidades de primera línea o apoyo que no sean auxiliares y si tiene capacidad para atacar al rival), Módulo auxiliar (1 de las unidades auxiliares no cuenta en el límite de unidades por zona ni tampoco al atacar) y Módulo defensivo (permite destruir los transportes utilizados para atacar para ignorar la "Defensa orbital limitada" del Módulo de apoyo).
    li Estructuras: se comportan igual que las bases pero no dan recursos
    li Orden de fortificación: no se colocan en la pila sino boca arriba en una zona planetaria y se resuelve en la fase de planificación. Sólo se puede usar 1 orden de este tipo por fase de planificación. Permite transportar inmediatamente cualquier cantidad de unidades a la zona elegida de la misma forma que lo haría con una orden de movilización. Finalmente coloca 1 ficha de Guardia que al descartarse otorga un +2 a la defensa en cada escaramuza en esa zona planetaria. No se puede usar junto con otras bonificaciones.
    li Cartas de liderazgo: se puede jugar 1 en cada etapa. La carta de etapa I se elige antes de preparar la galaxia y decide las unidades iniciales. Se resuelven empezando por el jugador inicial y en el sentido de las agujas del reloj. Algunas cartas de liderazgo añaden un héroe a la facción. A continuación se añade una figura que no haya sido construida con la ficha de héroe a cualquier zona planetaria aliada. Los héroes son inmunes a daños extendidos, control mental y a todos los efectos de las cartas de tenologia que destruyan unidades.
