$black      = rgb(0, 0, 0)
$white      = rgb(255, 255, 255)
$dark-blue  = rgb(45, 114, 143)
$light-blue = rgb(59, 142, 165)
$beige      = rgb(245, 238, 158)
$orange     = rgb(244, 158, 76)
$dark-red   = rgb(171, 52, 40)
