@font-face
  font-family: 'annie_use_your_telescopeRg';
  src: url('/fonts/AnnieUseYourTelescope-webfont.eot');
  src: url('/fonts/AnnieUseYourTelescope-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AnnieUseYourTelescope-webfont.woff2') format('woff2'),
       url('/fonts/AnnieUseYourTelescope-webfont.woff') format('woff'),
       url('/fonts/AnnieUseYourTelescope-webfont.ttf') format('truetype'),
       url('/fonts/AnnieUseYourTelescope-webfont.svg#annie_use_your_telescopeRg') format('svg');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'budalight';
  src: url('/fonts/Buda-Light-webfont.eot');
  src: url('/fonts/Buda-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Buda-Light-webfont.woff2') format('woff2'),
       url('/fonts/Buda-Light-webfont.woff') format('woff'),
       url('/fonts/Buda-Light-webfont.ttf') format('truetype'),
       url('/fonts/Buda-Light-webfont.svg#budalight') format('svg');
  font-weight: normal;
  font-style: normal;
